<!DOCTYPE html>
<html>
    <body>
        <h1>nogot fint</h1>
        <div style="width: 600px">
           #foreach($article in $articles)
               #parse("article.vm")
           #end
        </div>
    </body>
</html>